.error{
    color:red; 
    font-size: 10px;
}

.resume{
    margin-top: 10px;
    border: 2px solid #C00;
    align-self: end;
    position: relative;
    right: 0px;
    float: right;
}

.number_resume{
    padding: 2px;
}